@use "reset";

body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  background-color: #000;
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
  }

  .nav {
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
    }

    a {
      color: #00ff00;
      text-decoration: none;
    }

    a:hover {
      text-shadow: 0 0 10px #00ff00;
    }
  }
}

/* Hero Styles */
.hero {
  background-color: #000;
  padding: 4rem 2rem;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
    margin-bottom: .8rem;
  }

  p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2.4rem;
  }

  button {
    padding: 0.8rem 1.5rem;
    background-color: #00ff00;
    color: #000;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px #00ff00;
  }

  button:hover {
    box-shadow: 0 0 20px #00ff00;
  }
}